[submodule "projects/math.gl"]
	path = projects/math.gl
	url = https://github.com/visgl/math.gl.git
[submodule "projects/probe.gl"]
	path = projects/probe.gl
	url = https://github.com/visgl/probe.gl.git
[submodule "projects/deck.gl-community"]
	path = projects/deck.gl-community
	url = https://github.com/visgl/deck.gl-community.git
[submodule "projects/tangram.gl"]
	path = projects/tangram.gl
	url = https://github.com/visgl/tangram.gl.git
