@import '~odometer/themes/odometer-theme-default.css';
@import '~placeloader/main';

@import 'overrides';

header {
  background-color: white;

  h1 {
    font-weight: bold;
    letter-spacing: 4px;
    a {
      color: black !important;
    }
  }

  a { padding: 0 1rem; }
}

.main-container > div.f {
  flex-direction: column;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: url('/images/bg2.jpg');
  background-size: cover;
  filter: saturate(20%) brightness(70%) invert(100%);
}

.Member {

  width: 10rem;
  height: 11rem;

  margin: 1rem;

  img {
    object-fit: cover;
    background: rgba(black, .1);
    width: 100%;
    height: 10rem;
  }

}

.Join {
  margin: 2rem 0;
  a {
    padding: 0.5rem 2rem;
    color: $primary;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2rem;

    border: 0.2rem solid $primary;
    border-image: linear-gradient(to right, $primary 0%, $secondary 100%);
    border-image-slice: 2;

    transition: all 150ms ease-in;
    &:hover {
      color: white;
      background-color: $primary;
    }
  }

}

.Tile {
  height: 15rem;
  position: relative;
  display: block;
  flex-shrink: 0;
  min-width: 15rem;
  margin: 1rem;
  cursor: pointer;
  transition: opacity 250ms ease-in;

  &.big {
    margin-top: 2rem;
  }

  .Stars {
    > div {
      margin-left: 0.5rem;
    }
    svg {
      fill: #ffb400;
    }
  }

  &.opaque {
    opacity: 0.1;
  }

}

.Tile-contrib-load {
  height: 2rem;
  width: 2rem;
  background-color: lighten(black, 70);
}

.Tile-main {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 3px rgba(black, .5);

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.Tile-contribs {
  position: absolute;
  top: 1rem;
  right: 1rem;
  img {
    background-color: lighten(black, 70);
    width: 2rem;
    height: 2rem;
  }
  > * + * {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-device-width: 47.9rem) {
  .Tile {
    height: 10rem;
  }
}
