@import '~odometer/themes/odometer-theme-default.css';
@import '~placeloader/main';
@import 'overrides';

header.home, header.about {
  color: white;
  max-height: 100% !important;
  padding-top: 40px;
  position: absolute !important;

  .container {
    max-width: calc(100% - 118px);
    position: relative;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    position: relative;
    &:before {
      content: '';
      background: url("/images/logo-small.png") no-repeat;
      background-size: cover;
      height: 38px;
      width: 47px;
      position: absolute;
      top: 10px;
      left: -40px;
    }
    a:visited {
      color: $white;
    }
  }
  .links {
    left: auto;
    margin-top: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    a {
      font-size: 14px;
      font-weight: 400;
      margin-left: 48px !important;
      text-transform: capitalize !important;
      transition: color 0.5s;
      &:hover, &.active {
        border-top-color: transparent !important;
        color: $white !important;
      }
    }
  }

  a { padding: 0 1rem; }
}

header.about {
   background: url("/images/header-background.png") no-repeat $deepcalm;
   padding-top: 0;
}

.menu-toggle {
  display: none !important;
}

#hero {
  color: $white;
  height: 690px;
  padding-top: 232px;
  position: relative;
  width: 100vw;

  .main {
    font-size: 55px;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0 auto 34px;
    max-width: 883px;
    text-align: center;

    em {
      color: $red;
    }
  }

  .secondary {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}

header.home h1, footer h1 {
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  letter-spacing: 4px;
  line-height: 70px;
  position: relative;
  &:before {
    content: '';
    background: url("/images/logo-small.png") no-repeat;
    background-size: cover;
    height: 38px;
    width: 47px;
    position: absolute;
    top: 10px;
    left: -40px;
  }
  a:visited {
    color: $white;
  }
}

#repos {
  width: 100%;
}

.Repo {
  margin: 0 auto;
  max-width: 1172px;
  height: 623px;

  &.big .Repo-desc {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.small {
    border: 1px solid #EDEDED;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    display: inline-block;
    height: 264px;
    width: 371px;
    margin-right: 29px;
    margin-bottom: 21px;
    padding: 24px 33px;
    transition: box-shadow 0.5s;
    vertical-align: top;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.16);
    }
    .Repo-desc {
      color: $darkgrey;
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.Repo-img {
  max-width: 1172px;
  height: 360px;
  background-size: cover;
  background-color: $deepcalm;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s;
  &:after {
    background: $filter;
    content: "";
    mix-blend-mode: color;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 200ms linear;
  }

  &:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.20);
  }
  &:hover:after {
    opacity: 0;
  }
}

.link {
  border-bottom: 0 solid transparent;
  color: $linkblue;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: -1px;
  padding-bottom: 1px;
  transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  width: fit-content;
  &:visited {
    color: $linkblue;
  }
  &:hover {
    border-bottom: 2px solid currentColor;
    margin-bottom: -3px;
  }
}

.Repo-github {
  position: relative;
  padding: 1rem;

  h1 {
    font-size: 21px;
    font-weight: 600;
    color: $black;
    margin-bottom: 10px;
  }

  h1:first-letter {
    text-transform: capitalize;
  }

  .badge {
    background: $white;
    border: 1px solid $grey;
    border-radius: 4px;
    display: inline-flex;
    font-size: 10px;
    padding: 0 5px;
    margin: 0 0 21px;
    text-transform: uppercase;
    transition: color 0.5s, border-color 0.5s, background 0.5s;
    &:hover {
      background: $grey;
      color: $white !important;
    }
  }

  .Repo-border {
    border-top: 1px solid $lightgrey;
    margin-top: 10px;
    padding-top: 12px;
    position: relative;
    width: 169px;
  }

  .Stars {
    color: $gold;
    position: absolute;
    right: 0;
    top: 10px;
    .odometer {
      color: $black;
      font-family: inherit;
      margin-left: 6px;
    }
  }
}

.Repo-desc {
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  line-height: 49px;
  max-width: 878px;
  width: 100%;
  vertical-align: top;
}

.main-container > div.f {
  flex-direction: column;
}

.section-title {
  background: url("/images/vis-logo.png") no-repeat;
  max-width: 1172px;
  margin: 67px auto 57px;
  min-height: 296px;
  padding: 47px 0 0 213px;
  width: 100%;

  h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  p {
    font-size: 48px;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.5em;
    max-width: 600px;
  }
}

.section-title--no-logo {
  background: none;
  p {
    max-width: calc(100% - 100px);
  }
}

#showcase {
  background: $deepcalm;
  color: $white;
  font-size: 16px;
  padding: 67px 0 220px;
  h1 {
    font-weight: 500;
    line-height: 34px;
    margin-top: 34px;
  }
  .description {
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 27px;
    max-width: 500px;
    opacity: 0.6;
  }
  a, a:visited {
    color: $white;
  }
}

.cases {
  max-width: 1242px;
  width: calc(100vw - 58px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.case {
  display: inline-block;
  max-width: 590px;
  width: calc(50vw - 60px);
  margin-right: 31px;
  padding-left: 21px;
  vertical-align: top;
}

.case-image {
  background: #100A29 top left/contain no-repeat;
  height: calc((50vw - 60px) / 1.6);
  width: calc((50vw - 60px));
  max-height: 369px;
  max-width: 590px;
}

.case-image {
  background: $deepcalm top left / cover no-repeat;
  height: 369px;
}

.frame {
  border-radius: 6px;
  overflow: hidden;
  transform: translate(-21px);
}

.browser-bar {
  background: $softgrey;
  height: 23px;
  padding: 8px;
}

.browser-bar-button {
  background: $softgrey;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-right: 6px;
  vertical-align: top;
  width: 8px;
}

.link-with-arrow {
  .label {
    border-bottom: 0 solid transparent;
    margin-bottom: -1px;
    padding-bottom: 1px;
    width: fit-content;
    transition: all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);  
  }

  .arrow {
    margin-left: 10px;
    transition: margin 0.5s;
  }

  &:hover .label {
    margin-bottom: -3px;
    border-bottom: 2px solid currentColor;
  }
  &:hover .arrow {
    margin-left: 20px;
  }
}

.modules {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
  transform: translateX(-48px);
}

.main-container > div:not(.toc):after {
  height: 0 !important;
  margin: 0 !important;
}

footer {
  color: $white;
  height: fit-content !important;
  background: $deepcalm !important;
  padding: 2rem 4rem 8rem 4rem !important;
  position: static !important;

  h1 {
    left: 37px;
    padding-left: 10px;
  }

  .content {
    max-width: 1172px;
  }
  .main, .links {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;

  }
  .main {
    line-height: 23px;
    margin-right: 25%;
    max-width: 25%;
  }
  .links {
    line-height: 41px;
    max-width: 15%;
    margin-right: 20px;
    width: 100%;
  }
  ul {
    list-style: none;
  }
  p, li, a {
    margin: 0 !important;
    opacity: 0.6;
    padding: 0 !important;
  }
  a, a:visited {
    color: $white;
  }
}

.big-link {
  background: $deepcalm;
  border-radius: calc(0.5 * 55px);
  height: 55px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 34px;
  max-width: 366px;
  padding: 10px 36px;
  text-align: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a, a:visited {
    color: $white;
  }
}

#academy {
  background: $lightestgrey;
  padding: 67px 0;
}

#About {
  width: 100%;
  margin-top: 110px;
}

#intro {
  margin: 0 auto;
  max-width: 1172px;
}

.mission p {
  font-size: 22px;
  max-width: calc(100% - 105px);
}

.about--intro--pictures {
  color: $grey;
  font-size: 10px;
  margin: 100px auto;
  max-width: calc(100vw - 71px);
  width: 100%;
  p {
    margin-top: 12px;
  }
}

.about--pic {
  background: $white top left / contain no-repeat;
  width: 100%;
  height: 100%;
}

.about--intro--pictures--main {
  width: calc(100vw - 71px);
  height: calc((100vw - 71px) / 2.05);
  max-width: 1170px;
  max-height: 571px;
  margin-top: 1rem;
}

.about--intro--pictures--small {
  display: inline-block;
  margin-bottom: 30px;
  width: calc((50vw - 51px));
  height: calc((50vw - 51px) / 1.62);
  max-width: 571px;
  max-height: 350px;
  vertical-align: top;
  margin-bottom: 30px;
  &:first-child {
    margin-right: 30px;
  }
}

#news {
  background: $lightestgrey;
  margin-top: 110px;
  padding-bottom: 100px;
  padding-top: 109px;
}

.news-items {
  margin: 0px auto;
  max-width: calc(100vw - 151px);
  width: 100%;
}

.news--item {
  border-top: 1px solid $lightgrey;
  box-shadow: 0 0 0 rgba(black, 0.16);
  color: $black;
  margin: 0 -40px;
  min-height: 359px;
  padding: 40px 40px;
  position: relative;
  width: calc(100% + 80px);
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(black, 0.16);
  }

  & + .news--item {
    margin-top: 1rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 0;
  }
}

.news--item--date {
  color: $grey;
  font-size: 10px;
}
.news--item--title {
  font-size: 21px;
  font-weight: 400;
  margin: 11px 0 38px;
  max-width: calc(100% - 550px);
}
.news--item--image {
  position: absolute;
  right: 40px;
  top: 40px;
}
a.news--item--read, a.news--item--read:visited {
  color: $linkblue;
  font-size: 16px;
}

@media only screen and (max-device-width: 47.9rem) {
  .Tile {
    height: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  #home .secondary {
    margin: 0 auto;
    max-width: 67%;
  }

  .section-title {
    max-width: calc(100% - 118px);
    padding: 47px 0 0 64px;
  }

  .Repo.big {
    max-width: calc(100% - 118px);
    .Repo-desc {
      font-size: 22px;
      line-height: 1.5;
      max-width: calc(100% - 195px);
    }
  }

  .cases {
    max-width: calc(100% - 118px);
    transform: none;
  }

  .case {
    width: 100%;
    margin-right: 0;
  }

  .case-image {
    background-size: contain;
    width: calc(100vw - 118px);
    height: calc((100vw - 118px) / 1.5);
  }

  #showcase {
    padding-bottom: 59px;
    .description {
      margin-bottom: 33px;
    }
    .link-with-arrow {
      margin-bottom: 65px;
    }
  }

  .modules {
    max-width: calc(100% - 106px);
    transform: translate(-12px);
    min-height: 300px;
    .Repo.small {
      width: calc(50vw - 65px);
      margin-right: 12px;
    }
  }
  footer .content {
    max-width: calc(100vw - 118px);
  }
}

@media only screen and (max-width: 800px) {
  .modules .Repo.small {
    min-height: 400px;
  }
  #hero {
    .main {
      font-size: 40px;
    }
    .secondary {
      font-size: 20px;
    }
  }

  .news--item--image {
    height: auto;
    position: static;
    margin: 24px 0;
    max-width: 100%;
  }
  .news--item--title {
    max-width: 100%;
  }

  .section-title {
    p {
      font-size: 32px;
    }
  }

}

@media only screen and (max-width: 600px) {
  header.home .container, header.about .container {
    max-width: calc(100% - 71px);
  }

  .modules .Repo.small {
    width: calc(100vw - 71px);
    margin-right: 0;
    height: auto;
    min-height: auto;
  }
  footer .content {
    max-width: calc(100vw - 71px);
    .main {
      max-width: 100%;
      width: 100%;
      font-weight: 400;
    }
    .links {
      max-width: calc(0.5 * (100% - 20px));
      margin-right: 20px;
    }
    .links:last-child {
      margin-right: 0
    }
  }
}


@media only screen and (max-width: 400px) {
  #hero {
    padding-top: 139px;
    .main {
      font-size: 34px;
      margin: 0 auto 61px;
      max-width: calc(100% - 71px);
      text-align: left;
    }
    .secondary {
      font-size: 16px;
      margin: 0 auto;
      max-width: calc(100% - 71px);
      text-align: left;
    }
  }
  .section-title {
    background-size: 178px 145px;
    max-width: calc(100% - 71px);
    padding: 47px 0 0px;
    h2 {
      font-size: 16px;
      line-height: 3;
    }
    p {
      font-size: 26px;
    }
  }

  .Repo.big {
    max-width: 100%;
    height: auto;
    .Repo-github {
      margin: 0 auto;
      .Repo-desc {
        position: static;
        margin-bottom: 21px;
        max-width: 100%;
      }
    }
  }
  .modules .Repo.small {
    width: calc(100vw - 71px);
    margin-right: 0;
  }
}
