@import 'typography';
@import 'variables';

html, body {
  height: initial !important;
}

#root > div > div {
  margin-bottom: 1rem !important;
}

.main-container > div:not(.toc):after {
  content: '';
  background-image: none;
  background-repeat: no-repeat;
  width: 8rem;
  height: 3rem;
  margin-top: 3rem;
  margin-left: 1rem;
  display: inherit;
  z-index: 1;
}

.main-container {
  width: 100%;
  position: absolute;
  top: 0;

  > .toc {
    position: relative;
    box-shadow: none;
    height: initial;
    width: 13rem;
    & + * {
      margin-left: 0;
    }

    @media screen and (max-width: 576px) {
      position: absolute;
      width: 100vw;
      height: 0;
      padding: 0;
    }

  }
}

.menu-toggle {
  color: black !important;
}

@media screen and (max-width: 576px) {
  header {
    &.open {
      .links {
        display: block;
        max-height: $topbar-maxheight;
      }
    }
    .links {
      position: fixed;
      top: 0;
      background-color: white !important;
    }
  }

  .toc {
    > div {
      padding: 0 !important;
    }
    &.open {
      position: absolute;
      top: 16rem;
      height: initial !important;
    }
  }
}

header .links a.active {
  color: black !important;
}

.markdown {
  position: relative !important;
  width: intial !important;
}
