$primary: #00ADE6;
$secondary: #05E3D5;
$black: #000;
$black-20: #213746;
$black-40: #5A666D;
$white: #FFF;
$white-40: #8D9BA3;

$lightestgrey: #FAFAFA;
$lightgrey: #EDEDED;
$softgrey: rgba(216, 216, 216, 0.2);
$grey: #979797;
$deepcalm: #100A29;
$linkblue: #0070C9;
$red: #D0021B;
$gold: #FFB401;

$footer-height: 13rem;
$topbar-height: 4rem;
$topbar-maxheight: 12rem;
$toc-width: 17rem;
$mobile: 576px;
